$theme-colors: (
    "primary": #172f57,
    "secondary": #A5A5A5,
    "success": #44AB7B,
    "info": #5FFCF8,
    "warning": #F7FC5F,
    "danger":#DD112A,
    "light": #F7F7F7,
    "dark": #090909
); 

$font-family-sans-serif: "Comin Sans MS", sans-serif;

$body-bg: #e8d9cc;

$header-bg: #172f57;


